#practice-container {
    background-color: var(--color-surface-mixed-300);
    padding: 20px;
    border-radius: 10px;
}

.question {
    color: var(--color-primary-600);
}

.answer {
    background-color: var(--color-primary-300);
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.answer:hover {
    background-color: var(--color-primary-400);
}
